<div id="extensionsView" class="extensions-panel bottom-panel vert-resizable top-resizer no-focus">
    <div class="toolbar">
        <div class="title">Javazzar Property Editor</div>
        <a href="#" class="close"></a>
    </div>
    <div class="panel-content resizable-content small">
        <div class="profile-section">
            <div class="listview"></div>
        </div>
        <div class="tag-section">
            <div id="no-selected-element" class="data-rebel-empty">Please select an model element: class, method, attribute or an association end to edit its Javazzar properties.</div>
            <div id="empty-rebel-context" class="data-rebel-empty">Active Javazzar profile has no properties for the selected model element.</div>
            <table id="tag-section-table" class="grid">
            </table>
        </div>
    </div>
</div>